.izleti-header {
    height: 70vh;
}
body {
    background: $white;
}
.izleti {
    padding: 60px 0;
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        article {
            flex: 0 0 30%;

            @media (max-width: 766px) {
                flex: 0 0 80%;
                margin: 30px auto;
            }
            img {
                width: 100%;
                

                // &:hover {
                //     transform: scale(.99);
                //     transition: .1s;
                // }
            }

            .text {
                background: $white;
                padding: 30px 10px;
                h3 {
                    color: black;
                    font-size: 1.3rem;
                    font-weight: 700;
                    padding: 20px 0;
                }
                p {
                    color: $text-color;
                }

            
                
            }
        }
    }

}