$font-family: 'Montserrat', sans-serif;
$font: 16px;
$white: #fff;
$text-color: #6b6b6b;
$primary: #52a3bd;
$secondary: #244b26;
$bodyColor: #f6f8fa;
$padding: 100px 0;
$boxShadow: 0 0 10px $text-color;
$textShadow: 0 0 4px $text-color;